####################################
# Maven
####################################
/target/
!.mvn/wrapper/maven-wrapper.jar

####################################
# Java
####################################
*.class
*.log
*.jar
*.war

####################################
# IDEs
####################################
# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

####################################
# OS
####################################
.DS_Store
Thumbs.db

####################################
# Logs e temporários
####################################
logs/
*.tmp
*.swp

####################################
# Configurações sensíveis
####################################
#application-prod.properties
application-prod.yml
.env
